<h1 id="tableLabel">Contacts</h1>
<button class="btn btn-primary" [routerLink]="['/contact']">Add Contact</button>
<p *ngIf="showLoading"><em>Loading...</em></p>

<div *ngIf="!showLoading && !contacts ">
  <p><em>You have no contacts.</em></p>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="contacts">
  <thead>
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.firstname }}</td>
      <td>{{ contact.lastname }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phone }}</td>
      <td> <button class="btn btn-primary" [routerLink]="['/contact/',contact.contactId]">View</button></td>
    </tr>
  </tbody>
</table>
